* {
    box-sizing: border-box;
}

:root {
    --header-height-lg-full: 180px;
    --header-height-lg-scroll: 133px;
}

/* Mobile Styles */

body {
    margin: 0;
    background-color: pink;
}

header {
    transition: all .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-full {
    padding: 1rem;
}

.header-scroll {
    padding: 1rem;
    background-color: #006580;
}

#site-logo {
    max-height: 60px;
}

#inner-header {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#mobile-nav-menu-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 5px;
    border: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%); */
}

#mobile-nav-menu-btn:focus {
    outline-color: white;
}

#site-nav {
    position: relative;
    margin: auto 0;
}

#site-nav ul {
    transition: .3s all ease-in-out;
    width: 100vw;
    /* height: 100vh; */
}

.mobile-nav-closed {
    transform: translateY(-100%);
    /* display: none; */
    transition: .3s all ease-in-out;
}

.mobile-nav-open {
    transform: translateY(0);
}

#site-nav ul li {
    color: white;
    margin: 0 2rem 0 0;
}

#site-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item p,
.nav-item i {
    margin-top: 1rem;
    margin-bottom: 0;
}

.dropdown p::after {
    content: "\f107";
    font-family: FontAwesome;
    border: 0;
    margin-left: 0;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#content {
    padding-top: calc(var(--header-height-lg-full) + 100px);
}

/* For larger screens */

@media screen and (min-width: 1199px) {

    #mobile-nav-menu-btn {
        display: none;
    }

    #site-nav {
        align-self: flex-end;
    }

    #site-nav ul {
        flex-direction: row;
    }

    #site-nav ul li {
        margin: 0 2rem 0 0;
    }

    header:not(.header-scroll):hover {
        background-color: #006580;
        transition: all .3s ease-in-out;
    }

    .header-full {
        padding: 4rem 0 1rem;
    }

    .header-scroll {
        padding: 1rem 0;
    }

    #site-logo {
        max-height: 100px;
    }

}

